/*Base css*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
a:hover{text-decoration: none;}
img{
	max-width: 100%;
	height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin:0 0 15px;
	font-weight: 700;
}

.section-padding {
    padding: 80px 0px;
}

.section-padding h2 {
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

.section-padding h2:after {
    position: absolute;
    top: 36px;
    left: 0;
    width: 50px;
    height: 3px;
    background: #03A9F4;
    content: '';
}

.staff-item img {
    max-width: 150px;
    border-radius: 50%;
}
.staff-info h3 {
    font-size: 16px;
    margin-top: 10px;
    text-transform: uppercase;
}

.staff-info span {
    font-size: 13px;
    text-transform: uppercase;
    /* margin-bottom: 30px; */
}

.staff-info p {
    margin-top: 18px;
    font-size: 14px;
}
.staff-carousel .owl-nav div {
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 40px;
    background: #ddd;
    line-height: 43px;
    margin-left: 1px;
    transition: .3s;
    
}

.staff-carousel .owl-nav div:hover {
    background: #00AFF1;
    color: #fff;
}
.staff-carousel .owl-nav {
    position: absolute;
    top: -67px;
    right: 0;
}